name: rtx
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  plugin-test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        target:
          - command: 'rtx x yamlfmt@latest -- yamlfmt -help'
          - command: 'rtx x yamlfmt@0.1.0 -- yamlfmt -help'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: jdxcode/rtx-action@v1
        with:
          tool_versions: |
            # Should not set yamlfmt versions here. (Actually shellcheck is not used here)
            shellcheck 0.9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup rtx
        run: |
          rtx plugins install yamlfmt https://github.com/kachick/asdf-yamlfmt.git#${{ github.ref }}
      - name: Test
        run: |
          ${{ matrix.target.command }}
        env:
          # https://github.com/jdxcode/rtx/issues/188#issuecomment-1441835716
          RTX_MISSING_RUNTIME_BEHAVIOR: autoinstall
